\documentclass[10pt]{article}

% Package Imports
%----------------

\usepackage{enumitem}  % Advanced list settings
\usepackage{fancyhdr}  % Fancy headers and footers
\usepackage[T1]{fontenc}  % Expanded font encoding
\usepackage{geometry}  % Page geometry (margins, etc.)
\usepackage{hyperref}  % Hyperlinks
\usepackage[none]{hyphenat}  % Hyphenation settings
\usepackage{multirow}  % Multirow table
\usepackage[defaultsans]{opensans}  % Opensans font
\usepackage[document]{ragged2e}  % Text alignment
\usepackage{tabularx}  % Advanced tables
\usepackage{titlesec}  % Title formatting
\usepackage[svgnames]{xcolor}  % Colors

% LaTeX Configuration
%---------------------

% Page margins
\geometry{top=.3in,
          bottom=.3in,
          left=.25in,
          right=.25in}

% Document font size
\newcommand{\cvfontsize}{9.5}

% Document font stuff
\renewcommand{\familydefault}{\sfdefault}
\renewcommand{\normalsize}{\fontsize{\cvfontsize}{\baselineskip}\selectfont}

% Highlight color
\newcommand{\highlightcolor}{RoyalBlue}

% Reformat section
\titleformat{\section}[block]
{\color{\highlightcolor} \Large \bf \scshape }
{}{0em}{}

% No indentation
\setlength{\parindent}{0pt}

% Table width
\newcommand{\tabularxwidth}{\textwidth}

% Link formatting
\hypersetup{
    colorlinks=true,
    linkcolor=blue,
    urlcolor=blue
}


% Header and Footer Configuration
%--------------------------------

% Changing page style to fancy
\pagestyle{fancy}

% Applying default headers and footers
\fancyhf{}

% Renewing commands for the header and footer lines
\renewcommand{\headrulewidth}{0pt}
\renewcommand{\footrulewidth}{0pt}

% Changing offset from the margins
\setlength{\footskip}{0pt}

% Setting footer to be "Page #" on bottom right
\rfoot{Page \thepage}

% Setting last page footer to include last updated date, and Precis signature.
\AtEndDocument{\lfoot{Last updated (* last_updated *). Built with Precis (\url{https://precis.rukmal.me}).}}


% Jinja Macros
%--------------

% Get state or country (state takes preference)
((*- macro stateOrCountry(topObj) *))
    ((*- if topObj.inState is defined *))
        (* topObj.inState[0] *)
    ((*- elif topObj.inCountry is defined *))
        (* topObj.inCountry[0] *)
   ((*- endif *)) 
((*- endmacro *))

% Get location in "City, State/Country" format
((*- macro getLocation(topObj) *))
    (* topObj.inCity[0] ~ ', ' ~ stateOrCountry(topObj) *)
((*- endmacro *))

% Format date (to MMM 'YY, eg: "May '19"')
((*- macro formatDate(dateObj) *))
    (* dateObj.strftime('%b ‘%y') *)
((*- endmacro *))

% Get date range
((*- macro dateRange(topObj) *))
    ((*- if topObj.endDate is defined *))
        (* formatDate(topObj.hasDate[0]) ~ ' - ' ~ formatDate(topObj.endDate[0]) *)
    ((*- else *))
        (* formatDate(topObj.hasDate[0]) ~ ' - Present' *)
    ((*- endif *))
((*- endmacro *))

% Escape special characters in text
% Currently cleans: '$'
((*- macro cleanText(text) *))
    (* text|replace('$', '\$') *)
((*- endmacro *))


% List the contents of a nested list of lists with a delimiter
((*- macro printListofLists(list, delimit) *))
    ((* set sorted_list = list|sort *))
    ((*- for l in sorted_list *))
        ((*- if loop.last *))
            (* l[0] *)
        ((*- else *))
            (* l[0] ~ delimit *)
        ((*- endif *))
    ((*- endfor *))
((*- endmacro *))

% Only print title if it exists
((*- macro titleIfExists(title, titleText) *))
    ((*- if title|length > 0 *))
        \section{(* titleText *)}
        \vspace{-.5em}
    ((*- endif *))
((*- endmacro *))


% Expand a list of objects, chaining 'hasName' together with comma delimiter
((*- macro expandNames(topObj) *))
    (* topObj|join(', ', attribute='hasName') *)
((*- endmacro *))

% Format a portfolio date (i.e. just the year)
((*- macro formatPortfolioDate(topObj) *))
    ((*- if topObj.hasDate is defined *))
        (* topObj.hasDate[0].strftime('%Y') *)
    ((*- endif *))
((*- endmacro *))



\begin{document}
    % Resume Header - Name, address, website and email
    %---------------------------------------------
    \begin{tabularx}{\textwidth}{@{}X r@{}}
        \multirow{3}{*}{\color{\highlightcolor} \huge \textbf{(* full_name *)}}
        & {\color{\highlightcolor} (* address_line_1 *), (* address_city_state *) (* address_zip *)} \\
        & {\color{\highlightcolor} (* phone *) $\; \bullet \;$ (* email *)} \\
        & {\color{\highlightcolor} (* linkedin *) $\; \bullet \;$ (* website *)} \\
    \end{tabularx}

    \vspace{.1em}

    \noindent{\rule{\linewidth}{.1em}}

    % Education
    %---------------------------------------------

    \vspace{-1em}

    (* titleIfExists(Degree, 'Education') *)

    % Iterating over degrees
    ((* for deg in Degree *))
        \begin{tabularx}{\tabularxwidth}{X r}
            % First line - degree title and date
            \textbf{(* deg.hasName[0] *)} & \textbf{(* formatDate(deg.hasDate[0]) *)} \\
            % Degree university (department), and location
            \quad \textcolor{\highlightcolor}{(* deg.degreeUniversity[0][0] ~ ' - ' ~ deg.degreeSchool[0][0] *)} & (* getLocation(deg) *) \\
            % Degree GPA (if any)
            ((* if deg.degreeGPA is defined *))
                \quad \textit{GPA (4.0 Scale):} (* deg.degreeGPA[0] *)
                % Degree awards (if any)
                % NOTE: Only displayed if GPA is displayed too
                ((*- if deg.affiliated is defined *))
                    ((*- for group in deg.affiliated|groupby('type') *))
                        ((*- if group.grouper == 'Award' *))
                            | \textit{Awards:} (* expandNames(group.list) *) & \\
                        ((* endif *))
                    ((* endfor *))
                ((* endif *))
            ((* endif *))
        \end{tabularx}

        % Add vertical space if not last iteration
        ((* if not loop.last *))
            \vspace{.3em}
        ((* endif *))

    ((* endfor *))

    \vspace{-0.5em}

    % Work Experience
    %---------------------------------------------

    (* titleIfExists(WorkExperience, 'Work Experience') *)

    ((* for we in WorkExperience *))
    % Put in minipage to prevent mid-entry pagebreak
    \begin{minipage}{\tabularxwidth}

        \begin{tabularx}{\tabularxwidth}{X r}
            % First line - job title and location
            \textbf{(* we.hasName[0] *)} & \textbf{(* we.inCity[0] ~ ', ' ~ stateOrCountry(we) *)} \\
            % Main employment organization and date range
            \textcolor{\highlightcolor}{(* we.employedAt[0][0] *)} & (* dateRange(we) *) \\
            % Parent organizations (if any)
            ((* if we.employedAt[0]|length > 1 *))
                ((* for parent_orgset in we.employedAt *))
                    \textit{(* parent_orgset[1:]|join('; ') *)} & \\
                ((* endfor *))
            ((* endif *))
            % Other job titles
            ((* if we.otherTitles is defined *))
                Other Titles: (* we.otherTitles|join(', ') *) & \\
            ((* endif *))
        \end{tabularx}

        % descriptions
        \begin{itemize}[noitemsep, topsep=3pt, parsep=0pt, partopsep=0pt]
            ((* for desc in we.hasDescription *))
                \item (* cleanText(desc) *)
            ((* endfor *))
        \end{itemize}

        % Add vertical space if not last iteration
        ((* if not loop.last *))
            \vspace{.3em}
        ((* endif *))

    \end{minipage}
    ((* endfor *))

    \vspace{-0.5em}

    % Skills and Technologies
    %---------------------------------------------

    (* titleIfExists(SkillGroup, 'Skills and Technologies') *)

    ((* for sg in SkillGroup *))
        % iterating over knowledge areas
        \begin{tabularx}{\tabularxwidth}{X}
            % first line - knowldge area name in bold
            \textbf{(* sg.hasName[0] *)} \\
            % listing all constituent subjects
            (* printListofLists(sg.hasSkill, ', ') *) \\
        \end{tabularx}

        % Add vertical space if not last iteration
        ((* if not loop.last *))
            \vspace{.3em}
        ((* endif *))

    ((* endfor *))

    \vspace{-0.5em}

    % Projects
    %---------------------------------------------

    (* titleIfExists(Project, 'Selected Projects') *)

    ((* for proj in Project *))

        \begin{tabularx}{\tabularxwidth}{X}
            % Nested tabular to handle title (fancy, with skills) and date in same row
                {
                    \begin{tabularx}{\tabularxwidth}{@{}X r}
                        % First line - project name in bold, and skills/tech in brackets
                        \textbf{(* proj.hasName[0] *)}
                        ((*- if proj.relatedSkills|length > 0 *))
                            (* '(' ~ proj.relatedSkills|join(', ') ~ ')' *)
                        ((*- endif *))
                        % Printing website (if exists)
                        ((*- if proj.hasWebsite is defined *))
                            | \url{(* proj.hasWebsite[0] *)}
                        ((*- endif *))
                        % Alignment separator (after if so it get triggered either way)
                        &
                        % Date on the right
                        \textbf{(* formatPortfolioDate(proj) *)} \\
                    \end{tabularx}
                } \\

            % Collaborators
            ((* if proj.hasCollaborators is defined *))
                \textit{Collaborators:} (* proj.hasCollaborators[0] *)
            ((* endif *))

            % description (only using one)
            (* cleanText(proj.hasDescription[0]) *) \\

        \end{tabularx}

        % Add vertical space if not last iteration
        ((* if not loop.last *))
            \vspace{.3em}
        ((* endif *))

    ((* endfor *))

    \vspace{-0.5em}

    % Publications
    %---------------------------------------------

    (* titleIfExists(Publication, 'Publications') *)

    ((* for pub in Publication *))
        \begin{minipage}{\tabularxwidth}
        \begin{tabularx}{\tabularxwidth}{X}
            % Nested tabular to handle title and date in same column
            {
                \begin{tabularx}{\tabularxwidth}{@{}X r}
                    % Prefix with the current status (if any)
                    ((*- if pub.hasStatus is defined *))
                        \textit{(* '(' ~ pub.hasStatus[0] ~ ') ' *)}
                    ((*- endif *))
                    % Publication title
                    \textbf{(* pub.hasName[0] *)} &
                    % Date on the right
                    \textbf{(* formatPortfolioDate(pub) *)} \\
                \end{tabularx}
            } \\
            % Authors
            (* pub.hasAuthors[0] *) \\

            % TODO: This part can be improved in the future
            % NOTE: Assuming that both publication & conference/journal exists if one does
            ((* if (pub.hasPublication is defined) and (pub.hasPublication[0]|length > 0) *))
                \textit{(* pub.inPublication[0] ~ '; ' ~ pub.inConferenceOrJounral[0] *)} \\
            ((* endif *))
            % Printing DOI (if exists)
            ((* if pub.hasDOI is defined *))
                (* pub.hasDOI[0] *) \\
            ((* endif *))

            % description (only using one)
            (* cleanText(pub.hasDescription[0]) *)
        \end{tabularx}

        % Add vertical space if not last iteration
        ((* if not loop.last *))
            \vspace{.3em}
        ((* endif *))

        \end{minipage}
    ((* endfor *))

\end{document}
